@import 'variables';

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body *{
    font-family: $poppins;
    box-sizing: border-box;
    color: $black;
}

h1, .h1{
    color: $white;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
        font-size: 32px;
    }
    @media screen and (max-width: $small) {   
        font-size: 26px;
    }
}
h2, .h2{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    span{
        position: relative;
        &:before{
            background-color: $green;
            content: "";
            height: 14px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 105%;
            z-index: -1;
        }
    }
    @media screen and (max-width: $mobile) {
        font-size: 32px;
    }
    @media screen and (max-width: $small) {   
        font-size: 26px;
    }
}
h3, .h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 0;

    @media screen and (max-width: $mobile) {
        font-size: 16px;
    }
}
.container{
    margin: 0 auto;
    max-width: $container;
    padding: 0 20px;
    width: 100%;
}
.large{
    width: 55%;
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}
.small{
    width: 45%;
    @media screen and (max-width: $mobile) {
        width: 100%;
    }
}
.subtitle{
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
        font-size: 12px;
    }
}
.line{
    position: relative;
    &:before{
        background-color: $green;
        content: "";
        height: 6px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 104%;
        z-index: -1;
    }
}
p{
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    margin: 0;
    @media screen and (max-width: $mobile) {
        font-size: 16px;
    }
    @media screen and (max-width: $small) {
        font-size: 14px;
    }
}

a{
    text-decoration: none;
    transition: $transition;
}

ul{
    list-style: none;
}