
// colors
$white: #fff;
$black: #1A242D;
$background: #F3EFF3;
$green:#D3EEE1;
$orange: #EEC88E;
$grey: #E5E5E5;
$pink : #E9CAF1;

// font
$poppins: 'Poppins', sans-serif;

// screen size
$container: 1080px;
$tablet:1023px;
$mobile:780px;
$small:640px;  

$transition: all ease-in-out 0.2s;


